body {  /*Фон для всей страницы*/
    background-color: #2c2c2c;
}

aside { /*боковая панель*/
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img { /*Логотип*/
    width: 80px;
    float: left;
}

aside .logo {  /*Текст логотипа*/
    font-size: 50px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
}

aside h3 { /*Надпись навигация*/
    margin-top: 50px;
    font-size: 39px;
}

aside ul {
    list-style: none;
}

a {
    font-size: 20px;
}

aside ul li { /*Задание стиля для ссылок боковой панели*/
    color: white;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease; /*анимация для ссылок в боковой панели*/
}

aside ul li:hover, aside ul a:hover {
    color: #ff7300;
    text-decoration: none;
    transform: scale(1.07); /*выполнение анимации для ссылок при наведении*/
}

main .features { /*задание стиля для основного блока*/
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px;}    /*Стиль для заголовка статьи*/
main .features p {max-width: 600px; margin: 20px auto}  /*Стиль для текста статьи*/

.alert-warning {
    float: left;
    clear: both;
    width: 500px;
    margin: 20px 34%;
    text-align: center;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}