{% extends 'main/layout.html' %} <!--Наследование html шаблона из layout.html-->

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>    <!--ключ title из словаря data из views-->
        <p>ORANGE</p>
        <button class="btn btn-outline-warning">За покупками!</button>

        {% for value in values %} <!--вывод элементов из списка словаря data в views в цикле-->
            {% if value == 'Hello' %} <!--Условный оператор-->
                {% filter upper %} <!--Использование фильтра-->
                    <p>{{ value| upper }}</p> <!--Использование фильтра для конкретного элемента-->
                {% endfilter %} <!--Конец фильтра-->
            {% endif %} <!--Конец условного оператора-->
        {% endfor %}    <!--Конец цикла-->

        {{ obj.age }} <!--ключ от подсловаря из словаря во views-->
    </div>
{% endblock %}

{% block title %}Главная страница{% endblock %} <!--использование шаблонов из layout.html-->